.accordion {
  background-color: Black;
  color: White;
  cursor: pointer;
  padding: 18px;
  width: 40%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
  margin-left: auto;
  margin-right: auto;
  //position: fixed;
  margin-left: 270px;
}

.accordion2 {
  background-color: Black;
  color: White;
  cursor: pointer;
  padding: 18px;
  width: 40%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
  margin-left: auto;
  margin-right: auto;
  //position: fixed;
  margin-left: 270px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion2:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  //padding: 0 18px;
  //background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
